/******************************
FOOTER
******************************/
footer {
  background-color: #083452;
  height: 100px;
  width: 100%;
  color:#A3B3A7;
}

.footer-content {
    width: 75%;
    max-width: 75%;
    margin: auto;
  }


.footer-text {
  display: inline-block;
  margin-top: 3px;
  margin-top: 41px;
}

.ironyard-logo {
  width: 8%;
  vertical-align: middle;
}

.second-nav {
  margin-left:18%
}

.second-nav, ul, li {
  display: inline-block;
}

.second-nav li {
  padding: 0 8px;
}

.button-div img {
  width: 31px;
  vertical-align: middle;
  background: #5E686F;
  padding: 9px;
}
